.casestudy-contentpadding{
    padding:2rem;
    max-width: 960px;
    margin: auto;
    /* must set max width somehow */
}
.hero-image{
    padding: 3vh;
    background-color: #90CAFF; /*#CAD7E2;*/
    text-align: center;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    justify-items: center
}

h1{
    font-size: 3rem;
    color: #5B483E;
    font-family: 'Inter Var';
    font-weight: 700;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
h2{
    font-size: 2.25rem;
    color: #5B483E;
    font-family: 'Inter Var';
    font-weight: 700; /*originally 580 */
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h3{
    font-size: 1.75rem;
    font-family: 'Inter Var';
    font-style: normal;
    font-weight: 580;
    color: #515155;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h4{
    font-family: 'Inter Var';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 580;
    color: #515155;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

p {
    font-family: 'Inter Var';
    color: #515155;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3125rem;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.casestudy-hero{
    display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 1rem;
}

img {
    width: 100%;
    height: auto;
}

/**************************

        Text Specifiers

***************************/

p.graySpacedSectionHeader{
    letter-spacing: .05rem;
    color: #757575;
    margin-bottom: 2rem;
}

.graySubText{
    color: #696767;
}

b{
    font-family: 'Inter Var';
    line-height: 1.5em;
    font-size: 0.875rem;
    font-weight: 800;
}

.grayTextNotSpaced{
    color: #939292;
    letter-spacing: .05rem;
}

.halfWidthText{
    max-width: 65%;
}

#hmw-text{
    text-align: center;
    background-color: #5c759a;
    padding: 16px;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 560;
}

/******************* 
        Section text bubbles
********************/
.sectionTextContainer{
    display: inline-flex;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.375rem;
    background: #5B483E;
}

p.sectionText{
    color: #FFF;

font-family: 'Inter Var';
font-size: 0.75rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}





/********CHIPS******
.chipText{

} */
p.chipText{
    font-size: .75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.0225rem;
    color: #515155;
}

.casestudy-chip{
    display: flex;
    padding: 0.25rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: 0.25rem;
    background: #E9EBED;
}
.casestudy-chiprow{
    display: inline-flex;
    padding: var(--Number, 0rem);

    align-items: flex-start;
    gap: 0.5rem;
}



/**********************************
        
        Image Processing

**********************************/

.imagecontainer{
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 4vw;
    padding-right: 4vw;
    background:#90CAFF; /*#CAD7E2*/
    border-radius: 10px;
    width: -webkit-fill-available;
    text-align: center;
}

.twoColumnFullSizeImage{
    max-width: 80%;
    width: 80%;
    height: auto;
    
}
.image-resizer{
    flex-shrink: 0;
    width: 25%; /* Set the width of the image to 50% of the container */
    max-width: 50%; /* Set the maximum width to ensure it doesn't exceed 50% */
    height: 25%;
    object-fit: cover;
    margin-left: 5rem;
}

.fullSizePrototype{
    max-width: 100%;
    height:auto;
    background: #E2D3C8;
    border-radius: 10px;
}

.fullSizeImage{
    max-width: 100%;
    width: 100%;
    height:auto;
    border-radius: 8px;
}

.fullSizeImagewMargin{
    max-width: 100%;
    height:auto;
    margin-top: 2rem;
    margin-bottom:2rem;
}


.testingMsImages{
    max-width: auto;
    width: auto;
    height: 50vh;
}

.twoImageHolder{
    text-align: center;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    justify-items: center;
    gap: 2vw;
}


.testingMSVideos{
    max-width: auto;
    width: auto;
    height: 50vh;
}


/***********************************
        Case Study Content
***********************************/

.casestudy-container{ /*36px margin top */
margin-top: 2.25rem;
}

.casestudy-container48{
    margin-top: 3rem;
}
.casestudy-container64{
    margin-top: 4rem;
}
.casestudy-containerBIGSPACING{
    margin-top: 6rem;
}

.casestudy-container128{
    margin-top: 8rem;
}

#flex16px{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

#flex24px{ /*24px flex */
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}


.eightpxFlex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.fourtyeightpxFlex{
    display: flex;
    flex-direction: column
}

.section-topmargin{
    margin-top: 3rem;
}

.line{
    margin: 4rem 0;
    border-top: 1px solid #D5D6D5;
}
/***********************
    Grid columns
***********************/
.twocolumn-grid{
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 10%;
    margin-top: 3rem;
}

.textinTwoColumn{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}

.threeColumn{
    display: grid;
    grid-template-columns:repeat(3, auto);
    gap: 1.5rem;
}

.twoColumn{
    display: grid;
    grid-template-columns:repeat(2, auto);
    gap: 1.5rem;
}

.inner-section-wpadding{

        margin-top:2rem;
    
}

.columnedTextContainer{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}




/***********************

    What's going well

************************/
#whatsgoingwell{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.whatsgoingwell-headerTextContainer{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


/**********************

Padded text

************************/

.paddedText{
    display: flex;
    padding: 0.625rem;
    align-items: flex-start;
    gap: 0.625rem;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0.375rem;
    background: #037971;
}

.paddedTextRow{
    display: flex;
    padding: 0.625rem 0;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
}
.inPaddingText{
    line-height: 1.5em;
    font-size: 1rem;
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
}



/*************************

        Media Query

**************************/
@media screen and (max-width:430px){ /*Sets mobile margin to 16px */

    .casestudy-contentpadding{
        padding:1vh;
    }
    }
    
    @media screen and (max-width: 500px){
        .threeColumn{
            grid-template-columns: none;
            grid-template-rows: 1fr;
        }
        .twoColumn{
            grid-template-columns: none;
            grid-template-rows: 1fr;
        }
        .halfWidthText{
            max-width: 100%;
        }
    }

    @media screen and (min-width:877px) and (max-width:1039px){
        .threeColumn{
            grid-template-columns: none;
            grid-template-rows: 1fr;
        }
        .twoColumn{
            grid-template-columns: none;
            grid-template-rows: 1fr;
        }
    }
    