---
import { ViewTransitions } from 'astro:transitions';
import SideBar from '../layouts/HomeView.astro';
import RightSide from '../layouts/homeRightSide.astro';

import '../styles/global.css'
import '../styles/indexpageview.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Hamid Habibi</title>
		<link rel="preconnect" href="https://rsms.me/">
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
		<ViewTransitions /> 
		<style>
			.sidebar-container{
				padding: 1.5rem;
				border-right: solid lightgray .5px;

			}

			.right-container{
				background-color: #fff;
				overflow-y: scroll;
				scroll-behavior: smooth;
				/* scroll-snap-type: y mandatory; */
				
			}
		</style>
	</head>
	<body>
        <p>Please come back later!</p>
        <p>We will be back.</p>
	</body>
</html>
