---
import { ViewTransitions } from 'astro:transitions';
import MicrosoftCaseStudy from '../layouts/MicrosoftCaseStudy.astro';
import SideBar from '../layouts/HomeView.astro';

import '../styles/global.css';
import '../styles/pageview.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Microsoft</title>
		<link rel="preconnect" href="https://rsms.me/">
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <ViewTransitions />
        <style>
            .sidebar-container{
            padding: 3vh;
            }
            .microsoft-container{
                /*padding: 3vh; */
                background-color: #fff;
                overflow-y: scroll;
            }
        </style>
    </head>
	<body>
        <div class="full-container">
            <div class="sidebar-container">
                <SideBar />
            </div>
            <div class="microsoft-container">
                <MicrosoftCaseStudy />
            </div>
        </div>
	</body>
</html>