---

---

<style>
    .socialIcon {
    text-decoration: none;
    
    }
    .socialIcons{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: flex-start;
    }
</style>

<div class="socialIcons">
    <a href="https://www.linkedin.com/in/hamidhabibiux/" target="_blank" class="socialIcon" id="linkedInIcon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <g clip-path="url(#clip0_2109_890)">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M2.66667 24H21.3333C22.8061 24 24 22.8061 24 21.3333V2.66667C24 1.19391 22.8061 0 21.3333 0H2.66667C1.19391 0 0 1.19391 0 2.66667V21.3333C0 22.8061 1.19391 24 2.66667 24Z" fill="#5B483E"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M20.6668 20.6673H17.1054V14.6014C17.1054 12.9382 16.4734 12.0088 15.1571 12.0088C13.725 12.0088 12.9769 12.976 12.9769 14.6014V20.6673H9.54461V9.11176H12.9769V10.6683C12.9769 10.6683 14.0088 8.75872 16.461 8.75872C18.9121 8.75872 20.6668 10.2555 20.6668 13.3511V20.6673ZM5.44995 7.59866C4.28085 7.59866 3.3335 6.64387 3.3335 5.46632C3.3335 4.28877 4.28085 3.33398 5.44995 3.33398C6.61904 3.33398 7.56583 4.28877 7.56583 5.46632C7.56583 6.64387 6.61904 7.59866 5.44995 7.59866ZM3.67768 20.6673H7.25663V9.11176H3.67768V20.6673Z" fill="white"/>
            </g>
            <defs>
              <clipPath id="clip0_2109_890">
                <rect width="24" height="24" fill="white"/>
              </clipPath>
            </defs>
          </svg>
    </a>
    <a href="https://read.cv/habibi" target="_blank" class="socialIcon" id="readcvIcon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <g clip-path="url(#clip0_2109_894)">
              <path d="M28 -4H-4V28H28V-4Z" fill="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.64882 0.115783L20.8038 3.37269C22.482 3.82238 23.4779 5.54741 23.0283 7.22565L19.1607 21.6597C18.711 23.3379 16.986 24.3338 15.3078 23.8842L3.15279 20.6272C1.47455 20.1776 0.478601 18.4526 0.92829 16.7742L4.79586 2.3403C5.24555 0.662058 6.97058 -0.333889 8.64882 0.115783ZM8.24171 1.63516C7.40258 1.41031 6.54008 1.90828 6.31522 2.74741L2.44765 17.1815C2.22281 18.0206 2.72079 18.883 3.55992 19.1079L15.7149 22.3648C16.554 22.5897 17.4166 22.0917 17.6413 21.2526L21.5088 6.81854C21.7337 5.97943 21.2358 5.1169 20.3966 4.89207L8.24171 1.63516Z" fill="#5B483E"/>
              <path d="M7.98402 5.63781C8.09645 5.21825 8.5277 4.96926 8.94727 5.08168L18.0635 7.52437C18.483 7.63678 18.7321 8.06803 18.6196 8.4876C18.5072 8.90716 18.0759 9.15615 17.6564 9.04373L8.54016 6.60104C8.12059 6.48863 7.87161 6.05736 7.98402 5.63781Z" fill="#5B483E"/>
              <path d="M6.96596 9.43468C7.07839 9.01513 7.50964 8.76613 7.9292 8.87856L17.0454 11.3212C17.465 11.4337 17.7139 11.8649 17.6015 12.2845C17.4892 12.704 17.0579 12.953 16.6383 12.8406L7.52209 10.3979C7.10253 10.2855 6.85353 9.85424 6.96596 9.43468Z" fill="#5B483E"/>
              <path d="M5.94838 13.2335C6.06079 12.814 6.49206 12.565 6.91162 12.6774L12.2294 14.1022C12.649 14.2148 12.8979 14.6459 12.7855 15.0654C12.6731 15.4852 12.2419 15.7341 11.8223 15.6217L6.50451 14.1968C6.08495 14.0843 5.83596 13.6531 5.94838 13.2335Z" fill="#5B483E"/>
            </g>
            <defs>
              <clipPath id="clip0_2109_894">
                <rect width="24" height="24" fill="white"/>
              </clipPath>
            </defs>
          </svg>
    </a>
    <a href="https://twitter.com/hamidsroom" target="_blank" class="socialIcon" id="twitterIcon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <g clip-path="url(#clip0_2109_900)">
              <path d="M24 4.55705C23.117 4.94905 22.168 5.21305 21.172 5.33205C22.189 4.72305 22.97 3.75805 23.337 2.60805C22.386 3.17205 21.332 3.58205 20.21 3.80305C19.313 2.84605 18.032 2.24805 16.616 2.24805C13.437 2.24805 11.101 5.21405 11.819 8.29305C7.728 8.08805 4.1 6.12805 1.671 3.14905C0.381 5.36205 1.002 8.25705 3.194 9.72305C2.388 9.69705 1.628 9.47605 0.965 9.10705C0.911 11.388 2.546 13.522 4.914 13.997C4.221 14.185 3.462 14.229 2.69 14.081C3.316 16.037 5.134 17.46 7.29 17.5C5.22 19.123 2.612 19.848 0 19.54C2.179 20.937 4.768 21.752 7.548 21.752C16.69 21.752 21.855 14.031 21.543 7.10605C22.505 6.41105 23.34 5.54405 24 4.55705Z" fill="#5B483E"/>
            </g>
            <defs>
              <clipPath id="clip0_2109_900">
                <rect width="24" height="24" fill="white"/>
              </clipPath>
            </defs>
          </svg>
    </a>
    <a href="mailto:hamidhabibiux@gmail.com" class="socialIcon" id="emailIcon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M21.6 2.40039H2.4C1.08 2.40039 0.012 3.48039 0.012 4.80039L0 19.2004C0 20.5204 1.08 21.6004 2.4 21.6004H21.6C22.92 21.6004 24 20.5204 24 19.2004V4.80039C24 3.48039 22.92 2.40039 21.6 2.40039ZM21.6 7.20039L12 13.2004L2.4 7.20039V4.80039L12 10.8004L21.6 4.80039V7.20039Z" fill="#5B483E"/>
          </svg>
    </a>
</div>
