---

---

<style>
    .socialIcon {
    text-decoration: none;
    
    }
    .socialIcons{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: flex-start;
    }
</style>

<div class="socialIcons">
    <a href="" class="socialIcon" id="linkedInIcon">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_2200_1610)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.77778 16H14.2222C15.2041 16 16 15.2041 16 14.2222V1.77778C16 0.795938 15.2041 0 14.2222 0H1.77778C0.795938 0 0 0.795938 0 1.77778V14.2222C0 15.2041 0.795938 16 1.77778 16Z" fill="#5B483E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7777 13.7782H11.4034V9.73424C11.4034 8.62549 10.9821 8.00589 10.1045 8.00589C9.14986 8.00589 8.65107 8.65068 8.65107 9.73424V13.7782H6.36291V6.07451H8.65107V7.1122C8.65107 7.1122 9.33907 5.83915 10.9738 5.83915C12.6079 5.83915 13.7777 6.83698 13.7777 8.9007V13.7782ZM3.63313 5.06577C2.85374 5.06577 2.22217 4.42925 2.22217 3.64421C2.22217 2.85918 2.85374 2.22266 3.63313 2.22266C4.41253 2.22266 5.04372 2.85918 5.04372 3.64421C5.04372 4.42925 4.41253 5.06577 3.63313 5.06577ZM2.45162 13.7782H4.83759V6.07451H2.45162V13.7782Z" fill="white"/>
        </g>
        <defs>
        <clipPath id="clip0_2200_1610">
        <rect width="16" height="16" fill="white"/>
        </clipPath>
        </defs>
        </svg>
    </a>
    <a href="" class="socialIcon" id="readcvIcon">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_2200_1614)">
            <path d="M18.6668 -2.66797H-2.6665V18.6654H18.6668V-2.66797Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.76588 0.0758863L13.8692 2.24716C14.988 2.54695 15.6519 3.69697 15.3522 4.8158L12.7738 14.4385C12.474 15.5573 11.324 16.2213 10.2052 15.9215L2.10186 13.7501C0.983032 13.4504 0.319067 12.3004 0.61886 11.1815L3.19724 1.5589C3.49703 0.44007 4.64706 -0.223894 5.76588 0.0758863ZM5.49447 1.0888C4.93506 0.938903 4.36005 1.27088 4.21015 1.8303L1.63177 11.453C1.48188 12.0124 1.81386 12.5874 2.37328 12.7373L10.4766 14.9086C11.036 15.0585 11.611 14.7265 11.7608 14.1671L14.3392 4.54439C14.4891 3.98498 14.1572 3.40997 13.5978 3.26008L5.49447 1.0888Z" fill="#5B483E"/>
            <path d="M5.32268 3.75984C5.39763 3.48014 5.68513 3.31414 5.96485 3.38909L12.0423 5.01755C12.322 5.09249 12.4881 5.37999 12.4131 5.6597C12.3381 5.93941 12.0506 6.1054 11.7709 6.03045L5.69344 4.402C5.41373 4.32706 5.24774 4.03954 5.32268 3.75984Z" fill="#5B483E"/>
            <path d="M4.64397 6.29109C4.71892 6.01139 5.00643 5.84539 5.28613 5.92034L11.3636 7.5488C11.6433 7.62374 11.8092 7.91125 11.7343 8.19095C11.6594 8.47066 11.3719 8.63665 11.0922 8.5617L5.01472 6.93325C4.73502 6.85831 4.56902 6.57079 4.64397 6.29109Z" fill="#5B483E"/>
            <path d="M3.96526 8.82234C4.0402 8.54264 4.32772 8.37664 4.60742 8.45159L8.15262 9.40149C8.43232 9.47652 8.59831 9.76392 8.52337 10.0436C8.44842 10.3234 8.16091 10.4894 7.8812 10.4145L4.33601 9.46454C4.05631 9.38952 3.89031 9.10204 3.96526 8.82234Z" fill="#5B483E"/>
            </g>
            <defs>
            <clipPath id="clip0_2200_1614">
            <rect width="16" height="16" fill="white"/>
            </clipPath>
            </defs>
        </svg>
    </a>
    <a href="" class="socialIcon" id="twitterIcon">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_2200_1620)">
            <path d="M16 3.03933C15.4113 3.30067 14.7787 3.47667 14.1147 3.556C14.7927 3.15 15.3133 2.50667 15.558 1.74C14.924 2.116 14.2213 2.38933 13.4733 2.53667C12.8753 1.89867 12.0213 1.5 11.0773 1.5C8.958 1.5 7.40067 3.47733 7.87933 5.53C5.152 5.39333 2.73333 4.08667 1.114 2.10067C0.254 3.576 0.668 5.506 2.12933 6.48333C1.592 6.466 1.08533 6.31867 0.643333 6.07267C0.607333 7.59333 1.69733 9.016 3.276 9.33267C2.814 9.458 2.308 9.48733 1.79333 9.38867C2.21067 10.6927 3.42267 11.6413 4.86 11.668C3.48 12.75 1.74133 13.2333 0 13.028C1.45267 13.9593 3.17867 14.5027 5.032 14.5027C11.1267 14.5027 14.57 9.35533 14.362 4.73867C15.0033 4.27533 15.56 3.69733 16 3.03933Z" fill="#5B483E"/>
            </g>
            <defs>
            <clipPath id="clip0_2200_1620">
            <rect width="16" height="16" fill="white"/>
            </clipPath>
            </defs>
        </svg>
    </a>
    <a href="" class="socialIcon" id="emailIcon">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.4 1.60156H1.6C0.72 1.60156 0.00799999 2.32156 0.00799999 3.20156L0 12.8016C0 13.6816 0.72 14.4016 1.6 14.4016H14.4C15.28 14.4016 16 13.6816 16 12.8016V3.20156C16 2.32156 15.28 1.60156 14.4 1.60156ZM14.4 4.80156L8 8.80156L1.6 4.80156V3.20156L8 7.20156L14.4 3.20156V4.80156Z" fill="#5B483E"/>
        </svg>
    </a>
</div>
