---
//import '../styles/HomeView.css';
import SocialIcons from '../components/SocialMediaIcons.astro';
import SocialIcons24 from '../components/socialmediaIcons24.astro';
---
<style> 

body {
    /*max-width: 679px;*/
    background-color: #FBFBFB;
}

h1 {
    font-family: 'Inter Var';
    font-size: 32px;
    font-weight: bold;
    color: #5B483E;
    margin-block: 0;
}
p {
    font-family: 'Inter Var';
    font-size: 14px;
    color: #515155;
}
span {
    font-family: 'Inter Var';
    font-size: 14px;
    color: #515155;

}

.spacedText{
    letter-spacing: .05rem;

}


/************************

        SideBar Styling

*************************/

.theHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.socialIcon {
    text-decoration: none;
}

.casestudyContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
}
.indexHeroMessage {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.casestudyList{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.indexContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
}

.casestudyItem{
    display: grid;
    grid-template-columns: 2.5fr 6.5fr 1fr;
    gap: 16px;
    padding-block: 8px;
}


/*.casestudyItem:hover ~ .casestudyItem span{
    color:#C0B5AF;
}
*/
span.casestudyDate{
    text-align: right;
}

.deselected span{ /*use this for hover effect*/
    color:#C0B5AF;
}

a{
    text-decoration: none;
}


#sidebarHeroMessage{
    width: 90%;
}
#sidebarHeroMessageShort{
    display:none;
}
span.casestudyDesc-mobile{
    display:none;
}

.aboutResume{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    gap: .5rem;
}

.navButton{
    display: inline-flex;
padding: 0.5rem 0.75rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
border-radius: 0.25rem;
/* transition: 1s; */
}

/* .navButton:hover{
background-color: rgba(33, 33, 33, 0.05);
} */

.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  /* background: #e1e1e1; */
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: #2098D1; */
  background: rgba(33, 33, 33, 0.05);
  border-radius: 0.25rem;

  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  /* color: white; */
  border-radius: 0.25rem;

}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.myWorks{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

/**********************************

            Media Queries

**********************************/



@media screen and (max-width: 1250px){
    span.casestudyDesc-mobile{
        display:block;
    }
    span.casestudyDesc{
        display: none;
    }
    #sidebarHeroMessage{
    width: 100%;
    }
}

@media screen and (max-width: 1301px){
   span.casestudyDesc-mobile{
        display:block;
    }
    span.casestudyDesc{
        display: none;
    }
    

    .casestudyItem{
    display: grid;
    grid-template-columns: 2.5fr 6.5fr 1.5fr;
    gap: 24px;
    padding-block: 8px;
}

}
@media screen and (min-width:875px) and (max-width:1100px){
    span.casestudyDate{
        display: none;
    }
    .casestudyItem{
         grid-template-columns: 2.5fr 7fr;
    }
        }

@media screen and (max-width: 1100px){
    span.casestudyDate{
        
    }

    span.casestudyDesc-mobile{
        display:block;
    }
    span.casestudyDesc{
        display: none;
    }
    .casestudyItem{
        display: grid;
        grid-template-columns: 3.5fr 6fr;
        gap: 16px;
        padding-block: 8px;
    }
    #sidebarHeroMessage{
    width: 100%;
    }
    .indexContainer{
    gap: 2rem;
    }
    #sidebarHeroMessage{
    display: none;
}
    #sidebarHeroMessageShort{
    display:block;
}

}

@media screen and (max-width: 874px){
    #sidebarHeroMessage{
    display: block;
}
    #sidebarHeroMessageShort{
    display:none;
}
    .casestudyItem{
    display: grid;
    grid-template-columns: 2.5fr 6.5fr 1.5fr;
    gap: 24px;
    padding-block: 8px;
}
span.casestudyDesc-mobile{
        display:none;
    }
    span.casestudyDesc{
        display: block;
    }
}
@media screen and (max-width: 594px) {
    span.casestudyDesc-mobile{
        display:block;
    }
    span.casestudyDesc{
        display: none;
    }
}
@media screen and (max-width: 420px) {
    #sidebarHeroMessage{
    display: none;
}
    #sidebarHeroMessageShort{
    display:block;
}
    span.casestudyDate{
        display: none;
    }
    .casestudyItem{
         grid-template-columns: 2.5fr 7fr;
    }
        }





</style>

<script>
    document.addEventListener('astro:page-load', () => {   
    // Get all casestudyItem elements
    const casestudyItems = document.querySelectorAll('.casestudyItem');
    
    //new code
    const casestudyItemsArray = Array.from(casestudyItems);
    
    
    //The following lines of code affect hovers that happen on the left side
    
    // Loop through each casestudyItem
    casestudyItems.forEach(item => {
      // Add event listener for mouseover (hover)
      item.addEventListener('mouseover', () => {
        //start new code
        const hoveredIndex = Array.from(casestudyItems).indexOf(item);
    
        // Loop through all items again and change text color of spans except the one being hovered
        casestudyItems.forEach(otherItem => {
          if (otherItem !== item && otherItem instanceof HTMLElement) {
            const spans = otherItem.querySelectorAll('span');
            spans.forEach(span => {
              span.style.color = '#C0B5AF'; // Change this to your desired text color
              // Change any other styles as needed
            });
          }
        });
      });
    
      // Add event listener for mouseout (when the mouse leaves the element)
      item.addEventListener('mouseout', () => {
        // Loop through all items again and reset text color of spans back to its original state when not hovered
        //start new code
    
        //end new code
        casestudyItems.forEach(otherItem => {
          if (otherItem !== item && otherItem instanceof HTMLElement) {
            const spans = otherItem.querySelectorAll('span');
            spans.forEach(span => {
              span.style.color = ''; // Reset to default or remove this line if not needed
              // Reset any other styles as needed
            });
          }
        });
      });
    });
    
    
            const allVideos = document.querySelectorAll('.fullSizeVideo');
            allVideos.forEach(item =>{
                if (item instanceof HTMLVideoElement){
                item.load();
                item.play();
                };
            });
    
            const allMSVideos = document.querySelectorAll('.testingMSVideos');
                allMSVideos.forEach(item =>{
                if (item instanceof HTMLVideoElement){
                item.load();
                item.play();
                };
            });
    
    
    
    });
    
    </script>


<div class="indexContainer">
    <div class="theHeader">
        <a href="/"><h1 class="nameTitle">Hamid Habibi</h1></a>
        <div class="aboutResume">
            <a href="http://tinyurl.com/hamidsresume" target="_blank"><p class="navButton hvr-rectangle-out" style="font-weight: 700;">Resume</p></a>
            <a href="/about"><p class="navButton hvr-rectangle-out" style="font-weight:700;">About</p></a>
        
        </div>
    </div>
    <div class="indexHeroMessage">
        <p id="sidebarHeroMessage">I’m a product designer based in the SF Bay Area. I enjoy visualizing interfaces and sometimes coding them. Having previously designed skateboard decks, I now focus on creating interactive designs tailored for the communities I serve. Check out my work below!</p>
        <p id="sidebarHeroMessageShort">I'm a product designer based in the SF Bay Area. I now focus on creating interactive designs tailored for the communities I serve.</p>
        <SocialIcons24 />
    </div>
    <div class="myWorks">
    <div class="casestudyContainer">
        <p class="spacedText" style="color: #E0B49B;">CASE STUDY</p>
        <div class="casestudyList">
            <a href="/brightline"><div id="brightlineItem" class="casestudyItem">
                <span class="casestudyName">Brightline</span>
                <span class="casestudyDesc">Digital health tools for providers</span><span class="casestudyDesc-mobile">Digital health tools</span>
                <span class="casestudyDate">2022</span>
            </div></a>
            <a href="/microsoft"><div id="microsoftItem" class="casestudyItem">
                <span class="casestudyName">Microsoft</span>
                <span class="casestudyDesc">Communication platform for B2B Sellers</span><span class="casestudyDesc-mobile">B2B Seller Tools</span>
                <span class="casestudyDate">2022</span>
            </div></a>

            <div id="handshakeItem" class="casestudyItem">
                <span class="casestudyName">Handshake</span>
                <span class="casestudyDesc">Skills platform for explorative college students</span><span class="casestudyDesc-mobile">Online Skills Platform</span>
                <span class="casestudyDate">WIP</span>
            </div>
        </div>
    </div>
    <div class="casestudyContainer">
        <p class="spacedText" style="color: #E0B49B;">OTHER DESIGN WORK</p>
        <div class="casestudyList">

            <a href="/youtube"><div id="youtubeItem" class="casestudyItem">
                <span class="casestudyName">YouTube</span>
                <span class="casestudyDesc">Dashboard for YouTube Shorts experience</span><span class="casestudyDesc-mobile">Dashboard for YT Shorts</span>
                <span class="casestudyDate">2023</span>
            </div></a>

            <div id="spotifyItem" class="casestudyItem">
                <span class="casestudyName">Explorations</span>
                <span class="casestudyDesc">A collection of design challenges</span><span class="casestudyDesc-mobile">Designs I've worked on </span>
                <span class="casestudyDate">WIP</span>
            </div>
        </div>
    </div>
    </div>
    </div>
