---
import rockimage from '../assets/homeimages/Assign and Preview in Mockup.gif';
import redimage from '../assets/homeimages/Final Prospecting.gif';
import akira from '../assets/homeimages/image 80.png';
import blueimage from '../assets/homeimages/PreBrowsing Form.gif';
import kayimage from '../assets/homeimages/image 78.png';
import error404img from '../assets/homeimages/error404.png';
import error404imgborder from '../assets/homeimages/error404border.png';

import tvimg from '../assets/tv.png';
import brightlineVideo from '../assets/Brightline/Video/assignandpreview.mp4?url';
import youtubeVideo from '../assets/YouTube/Video/PrebrowsingForm.mp4?url';
import microsoftVideo from '../assets/Microsoft/Video/Final Prospecting.mp4?url';

---

<style>


/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */




.rightfull-container{
    padding: 3vh;
    /* background: linear-gradient(-45deg, #fff, #b6eddc, #f5ebe0, #f6f1ed);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh; */
}

.colorSquare-container{
    display: flex;
    flex-direction: column;
    gap: .5px;
    border: solid 1px gray;
    padding: .25rem;
}

.colorSquare-container p{
    font-size: 12px;
}
.twoColumnContainer{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}
.colorSquresColumn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}


.fullSizeImage{
    max-width: 100%;
    width: 100%;
    height:auto;
    border-radius: 8px;
}



.colorSquare{
width: 12vh;
height: 12vh;
background-color: black;
}

.bigImageContainer{
    max-width: 70%;
    height: auto;
    margin: auto;
}


#brightlineSquare{
    background-color: #E2D3C8;
}

#msSquare{
background-color: #D8DEE4;
}

#HandshakeSquare{
    background-color: #D8E4D8;

}

#ytSquare{
    background-color: #E2C8C8;

}

#spotifySquare{
    background-color: #C8E2D9;
    

}

#msImage{
    max-width: auto;
    width: auto;
    height: 50vh;
    padding: 2vw 8vw;
    background-color: #90CAFF;

}

#ytImage{
    max-width: auto;
    width: auto;
    height: 50vh;
    padding: 2vw 8vw;
    background-color: #FF8F8F;
}

.deselectedSquare{
    opacity: 30%;
}

.deselectedText{
    color: #C0B5AF;
}

.containerImg{display: none;}


.imgLookAtMe{
    display: block;
}

a{
    text-decoration: none;
}

.circles{
    display: inline-flex;
padding: var(--Number, 0rem);
flex-direction: column;
align-items: flex-start;
gap: -1.9375rem;

}

.circle1{
    width: 2.75rem;
height: 2.1875rem;
flex-shrink: 0;
border-radius: 2.9375rem;
background: #FFB876;
}
.circle2{
    width: 2.75rem;
height: 2.1875rem;
border-radius: 2.9375rem;
background: #D59F4E;
}

.svgContainer{
    
}

.svgButtons{
    position: relative;
}
#unclickedSVG{

}
#clickedSVG{
    display:none;
}
#unclickedSVG:hover #clickedSVG{
    display:block;
}



/* NEW STYLE TAGS */
h1 {
    font-family: 'Inter Var';
    font-size: 48px;
    font-weight: bold;
    color: #5B483E;
    margin-block: 0;
}
p {
    font-family: 'Inter Var';
    font-size: 14px;
    color: #515155;
}

.fullContainerRightSide{
    scroll-snap-type: y mandatory;
}

.rightSection{
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.fullSizeImage{
    max-width: 100%;
    width: 100%;
    height:auto;
    border-radius: 8px;
}


/* Hero */

 @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} 



#rightHero{
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(147,67,67,1) 0%, rgba(111,27,27,1) 90% );
    background: linear-gradient(-45deg, #fff, #b6eddc, #f5ebe0, #f6f1ed);
    background: linear-gradient(
  45deg,
  hsl(240deg 42% 93%) 0%,
  hsl(342deg 63% 94%) 13%,
  hsl(24deg 77% 94%) 25%,
  hsl(44deg 51% 94%) 37%,
  hsl(24deg 67% 95%) 50%,
  hsl(7deg 49% 96%) 63%,
  hsl(0deg 36% 96%) 75%,
  hsl(0deg 34% 95%) 87%,
  hsl(0deg 33% 94%) 100%
);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
#rightHero h1{
    color:black;
}
#heroName{
    display: flex;
    flex-direction: column;
}

html{
    scroll-snap-type: y mandatory;
}

/* Brightline */
h2{
    font-size: 2.25rem;
    color: #5B483E;
    font-family: 'Inter Var';
    font-weight: 700; /*originally 580 */
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h3{
    font-size: 1.75rem;
    font-family: 'Inter Var';
    font-style: normal;
    font-weight: 580;
    color: #515155;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h4{
    font-family: 'Inter Var';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 580;
    color: #515155;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.casestudySectionText{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#rightBrightline{

padding: 0rem 4rem;


}

</style>

<div class="fullContainerRightSide">
    <section id="rightHero" class="rightSection">
        <div id="heroName">
            <h1>Hamid is a </h1>
            <h1>Product Designer</h1>
        </div>
    </section>
    <section id="rightBrightline" class="rightSection">
        <div class="casestudySectionText">
        <p class="date">2022</p>
        <h1>Brightline</h1>
        <!-- <h2>Brightline Provider Experience</h2> -->
        <h4 style="color: #B8B8B8;">Enabling behavioral therapy through digital health tools</h4>
        <img class= 'fullSizeImage' src={rockimage.src} width={rockimage.width} height={rockimage.height}>

        </div>
    </section>
    <section id="rightMicrosoft" class="rightSection">

    </section>
    <section id="rightHandshake" class="rightSection">

    </section>
    <section id="rightYoutube" class="rightSection">

    </section>
    <section id="rightExplorations" class="rightSection">

    </section>
</div>